/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
}

/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v18-latin-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #f7f7f7;
}

h1 {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 2.7rem;
  line-height: 4.05rem;
  font-weight: normal;
  font-style: normal;
}

.logo-img {
  display: inline-block;
  width: 70px;
  height: 60px;
  background-image: url("../img/logo.svg");
}

.logo-text {
  color: #f7f7f7;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-search {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/search.svg");
}

.icon-prev {
  width: 26px;
  height: 39px;
  background-image: url("../img/icons/arrow-left.svg");
}

.icon-next {
  width: 30px;
  height: 39px;
  background-image: url("../img/icons/arrow-right.svg");
}

.icon-facebook {
  width: 16px;
  height: 28px;
  background-image: url("../img/icons/facebook.svg");
}

.icon-instagram {
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/instagram.svg");
}

.icon-pinterest {
  width: 21px;
  height: 27px;
  background-image: url("../img/icons/pinterest.svg");
}

.icon-telegram {
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/telegram.svg");
}

.link {
  color: #f7f7f7;
}

.button {
  color: #f7f7f7;
}

.header {
  background: #02160b;
}

.footer {
  background-color: #181617;
}

.survival {
  background-color: #02160b;
}

.survival__wrapper {
  background: url("../img/survival/fox.png") no-repeat center center;
}

.survival__title {
  color: #cd6326;
}

.articles {
  background-color: #cccccc;
}

.articles__title {
  color: #333333;
}

.articles__text {
  color: #666666;
}

.get-notified {
  background-color: #cccccc;
}