/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
}

.logo-text,
.button {
  font-family: Roboto, Verdana, sans-serif;
}

.logo-path,
.logo-text,
.icon-path,
.link,
.button {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v18-latin-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #f7f7f7;
  position: relative;
}

h1 {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 2.7rem;
  line-height: 4.05rem;
  font-weight: normal;
  font-style: normal;
}

.logo {
  text-decoration: none;
}

.logo-svg:hover {
  cursor: pointer;
}

.logo-svg:hover .logo-path {
  fill: #E39128;
}

.logo-img {
  display: inline-block;
  width: 70px;
  height: 60px;
  background-image: url("../img/logo.svg");
}

.logo-text {
  font-size: 3.2rem;
  line-height: 6rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-left: 15px;
}

.logo-text:hover {
  color: #E39128;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-round {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 100%;
}

.icon-svg:hover {
  cursor: pointer;
}

.icon-svg:hover .icon-path {
  fill: #E39128;
}

.icon-search {
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/search.svg");
}

.icon-prev {
  width: 26px;
  height: 39px;
  background-image: url("../img/icons/arrow-left.svg");
}

.icon-next {
  width: 30px;
  height: 39px;
  background-image: url("../img/icons/arrow-right.svg");
}

.icon-facebook {
  width: 16px;
  height: 28px;
  background-image: url("../img/icons/facebook.svg");
}

.icon-instagram {
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/instagram.svg");
}

.icon-pinterest {
  width: 21px;
  height: 27px;
  background-image: url("../img/icons/pinterest.svg");
}

.icon-telegram {
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/telegram.svg");
}

.link {
  color: #f7f7f7;
  font-size: 2.3rem;
  line-height: 6rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.link:hover {
  color: #E39128;
}

.button {
  cursor: pointer;
  font-size: 2.3rem;
  line-height: 2.7rem;
  font-weight: normal;
  font-style: normal;
  background: transparent;
  color: #f7f7f7;
  padding: 10px 23px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button.button--bordered {
  border: 2px solid #cd6326;
}

.button.button--bordered:hover,
.button.button--bordered:focus {
  background: #cd6326;
  border: 2px solid #cd6326;
}

.button.button--bordered:active {
  background: #8F5613;
  border: 2px solid #8F5613;
}

.button.button--colored {
  background: #cd6326;
}

.button.button--colored:hover,
.button.button--colored:focus {
  background: #E39128;
}

.button.button--colored:active {
  background: #8F5613;
}

.button-search {
  padding: 0;
}

.survival__button {
  padding: 16px 42px;
}

.slider__button {
  padding: 0;
}

.slider__button-prev:hover {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}

.slider__button-next:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.get-notified__button {
  border-radius: 0 5px 5px 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 19px 0 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu > li {
  margin-left: 61px;
}

.header__menu li:first-child {
  margin-left: 0;
}

.footer {
  padding: 150px 0;
  background-color: #181617;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu > li {
  margin-left: 85px;
}

.footer__menu > li:first-child {
  margin-left: 0;
}

.footer__social-icons > * {
  margin-left: 27px;
}

.footer__social-icons > *:first-child {
  margin-left: 0;
}

.footer__social-icons .button {
  padding: 0;
}

.layout-2-columns,
.layout-3-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survival {
  background-color: #02160b;
  background: url("../img/survival/fox.png") no-repeat top center;
  background-size: cover;
  padding: 79px 0 240px;
}

.survival__title {
  color: #cd6326;
  margin-top: 120px;
  letter-spacing: 2px;
}

.survival__text {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: normal;
  font-style: normal;
  max-width: 274px;
  margin-top: 51px;
}

.survival__buttons {
  margin-top: 29px;
}

.articles {
  background-color: #cccccc;
  padding: 120px 0;
}

.articles__title {
  text-align: center;
  color: #333333;
}

.articles__text {
  text-align: center;
  color: #666666;
  margin-top: 20px;
}

.articles__slider {
  margin-top: 120px;
}

.slider__card {
  margin: 0 30px;
  position: relative;
}

.card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 40px;
}

.card__title {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: normal;
  font-style: normal;
}

.card__text {
  font-size: 1.7rem;
  line-height: 2.7rem;
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
}

.get-notified {
  background-color: #cccccc;
  padding: 120px 0 239px;
}

.get-notified__title {
  text-align: center;
  color: #333333;
}

.get-notified__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 59px;
}

.get-notified__form input {
  width: 540px;
  height: 47px;
  background: #cccccc;
  border: 1px solid #666666;
  border-right: none;
  padding: 15px;
}