.button {
	cursor: pointer;
	@extend %font-add;
	@include font(2.3rem, 2.7rem);
	background: transparent;
	color: $color-font-light;
	padding: 10px 23px;
	border: none;
	border-radius: 5px;
	outline: none;
	@extend %transition;
	
	&.button--bordered {
		border: 2px solid $color-main;
		&:hover, &:focus {
			background: $color-main;
			border: 2px solid $color-main;
		}
		&:active {
			background: $color-main-dark;
			border: 2px solid $color-main-dark;	
		}

	}

	&.button--colored {
		background: $color-main;
		&:hover, &:focus {
			background: $color-main-light;
		}
		&:active {
			background: $color-main-dark;
		}
	}
}

.button-search {
	padding: 0;
}

.survival__button {
	padding: 16px 42px;
}

.slider__button {
	padding: 0;
}

.slider__button-prev:hover {
	transform: translateX(-10px);
}

.slider__button-next:hover {
	transform: translateX(10px);
}

.get-notified__button {
	border-radius: 0 5px 5px 0;
}
