.button {
	cursor: pointer;
	@extend %font-add;
	@include font(2.3rem, 2.7rem);
	background: transparent;
	color: $color-font-light;
	padding: 10px 23px;
	border: none;
	border-radius: 5px;
	
	&.button--bordered {
		border: 2px solid $color-main;
	}

	&.button--colored {
		background: $color-main;
	}
}

.button-search {
	padding: 0;
}

.survival__button {
	padding: 16px 42px;
}

.slider__button {
	padding: 0;
}

.get-notified__button {
	border-radius: 0 5px 5px 0;
}
