.logo {
	text-decoration: none;
}

.logo-img {
	display: inline-block;
	width: 70px;
	height: 60px;
	background-image: url('../img/logo.svg');
}

.logo-text {
	@extend %font-add;
	@include font(3.2rem, 6rem);
	text-transform: uppercase;
	color: $color-font-light;
	margin-left: 15px;
}