
$color-main: #cd6326;
$color-main-dark: #8F5613;
$color-main-light: #E39128;

$color-background-1: #02160b;
$color-background-2: #cccccc;
$color-background-3: #181617;

$color-font-dark:  #333333;
$color-font-gray:  #666666;
$color-font-light:  #f7f7f7;

$content-width: 1200px;
